// write your code here

$primary-color: hsla(216, 52%, 55%, 0.5);
$text-color: hsla(216, 52%, 55%, 1);


.article__paragraph {
    line-height: 2em;
    
    &::first-letter {
    font-weight: bold;
    color: $text-color;
    font-size: 1.5em;
    }
    &--first::first-letter {
    font-weight: bold;
    color: $text-color;
    font-size: 2em;
    }
}


.main-header {
    background-color: $primary-color;
    
    &__title {
       text-align: center; 
    }
    &__tagline {
    text-align: center;
    }

}


.article__title {
    text-align: center;
}


.article__featured-image {
    box-shadow: 10px 10px 5px $primary-color;
    border: 2px $text-color solid;
}

.author-info__image {
    border: 2px $text-color solid;
    filter: invert(75%);
}