

@mixin rounded($border-color: blue, $shadow-color:red, $border-width:2px) {
    border-radius: 50%;
    border-color: $border-color;
    box-shadow: 10px 10px 5px $shadow-color;
    border-width: $border-width;
    border-style: solid;
}

@mixin rounded-corner-box($radius, $background-color, $border-width, $border-color){
    border-radius: $radius;  
    border-width: $border-width;
    background-color: $background-color;
    border-color: $border-color;
    border-style:solid;
   
}